<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bird1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird2.png</key>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird4.png</key>
		<dict>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird6.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>40</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>40</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird8.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>bird9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
	</dict>
</dict>
</plist>