<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>drummer1.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>183</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>drummer2.png</key>
		<dict>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>209</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>drummer3.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>143</integer>
			<key>width</key>
			<integer>183</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>207</integer>
			<key>originalHeight</key>
			<integer>147</integer>
		</dict>
		<key>drummer4.png</key>
		<dict>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>143</integer>
			<key>width</key>
			<integer>183</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>207</integer>
			<key>originalHeight</key>
			<integer>147</integer>
		</dict>
	</dict>
</dict>
</plist>