<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{39,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{39,39}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>blue10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{60,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,437},{31,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>blue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,402},{32,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{32,33}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>blue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,402},{33,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{33,34}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>blue5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,442},{36,36}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>blue6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{39,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>blue7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{47,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,43}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>blue8.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,351},{52,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>blue9.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,294},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>iceBlaster_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,110}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{290,110}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bluebullet.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2461b1a90a88aab9facd08ba0c3c51cb:1/1$</string>
            <key>textureFileName</key>
            <string>bluebullet.png</string>
        </dict>
    </dict>
</plist>
